@import "bootstrap/scss/bootstrap";

hr {
	margin: 2rem 0;
}

.counter {
	background-color: #555;
	margin: 1.5rem 0;
	padding: 1rem 1.5rem;
}

.postlist {
	background-color: #555;
	padding: 1.5rem 2rem;
}
